<div class="flex flex-col gap-4  items-center justify-center">
  <h3 class="text-4xl font-bold text-center tracking-tight text-gray-900 sm:text-5xl md:text-6xl p-6">
    <span class="block">
        Делись
        <span class="text-transparent bg-clip-text bg-gradient-to-tr to-cyan-500 from-blue-600">
            активностями
        </span>
        с друзьями
    </span>
  </h3>
  <div class="flex text-center  items-start justify-between gap-6 relative mt-4 md:h-[600px]">
    <div class="absolute top-0 left-0 z-10 w-full flex-1">
      <div class="grid pb-11">
        <div class="flex gap-1 mb-4">
          <%= vite_image_tag 'images/user_avatar.jpg', class: "w-15 h-15 rounded-full" %>
          <div class="grid">
            <h5 class="text-gray-900 text-sm font-semibold leading-snug pb-1">Красилов Константин</h5>
            <div class="w-max grid">
              <div class="px-3.5 py-2 bg-gray-100 rounded-3xl rounded-tl-none justify-start items-center gap-3 inline-flex">
                <h5 class="text-gray-900 text-sm font-normal leading-snug">Проехал Мала-хит за час??</h5>
              </div>
              <div class="justify-end items-center inline-flex mb-2.5">
                <h6 class="text-gray-500 text-xs font-normal leading-4 py-1">05:14 PM</h6>
              </div>
            </div>
            <div class="w-max grid">
              <div class="px-3.5 py-2 bg-gray-100 rounded-3xl rounded-tl-none justify-start items-center gap-3 inline-flex">
                <h5 class="text-gray-900 text-sm font-normal leading-snug">Это круто!🔥</h5>
              </div>
              <div class="justify-end items-center inline-flex mb-2.5">
                <h6 class="text-gray-500 text-xs font-normal leading-4 py-1">05:14 PM</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <%= vite_image_tag 'images/phone_with_photo.png', alt: t('images.alt.phone_with_photo') %>
    </div>
  </div>
</div>
