<div class="flex flex-col justify-center items-center w-screen h-screen bg-gradient-to-r from-cyan-300 to-cyan-600 gap-2">
  <%= vite_image_tag 'images/logo.png', alt: "Logo", class: "w-36 h-auto" %>
</div>
